@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.dropdownWrapper {
  display: inline-block;
  position: relative;
  z-index: 0 !important;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-transform: none !important;
  transition: background-color 0.3s ease;
  color: black !important;
  font-family: $primary-font !important;
  white-space: nowrap !important;

  background-color: $light-grey !important;
  @include dark-mode {
    background-color: #1f1f1f !important;
    color: white !important;
    border: 1px solid $dark-border-color !important;
  }

  &:hover {
    background-color: darken($light-grey, 5) !important;
    @include dark-mode {
      background-color: #323232 !important;
    }
  }

  &:active {
    background-color: darken($light-grey, 5) !important;
  }

  &:focus {
    outline: 2px solid rgb(0, 0, 0, 1);
    outline-offset: 2px;

    @include dark-mode {
      outline: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
}

.leftIcon {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.dropdownIcon {
  transition: transform 0.25s ease;
}

.dropdownIcon.open {
  transform: rotate(180deg);
}

.dropdownMenu {
}

.dropdownPaper {
}

.dropdownItem {
  display: flex;
  align-items: center;
  font-size: 1.4rem !important;
  color: black !important;

  @include dark-mode {
    color: white !important;
  }
}

.itemIcon {
  min-width: 32px;

  @include dark-mode {
    color: white !important;
  }
}

.end_icon {
  font-size: 1.8rem;
  margin-left: 0.8rem;

  @include dark-mode {
    color: white;
  }
}