@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    border-radius: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &_with_icon {
      padding: 1rem;
    }

    &:focus-within {
      outline: 2px solid rgba(0, 0, 0, 1);
      outline-offset: 2px;
    }
  }

  &_label {
    @include para2;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &_icon {
    font-size: 2rem;
  }

  &_input_field {
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background: transparent;

    &_without_icon {
      padding: 1rem;
    }
  }

  &_textarea {
    min-height: 6rem; // Default height for textarea
    line-height: 1.5;
    resize: vertical;
    font-family: $primary-font;
  }
}
