@import "../../styles/mixins.scss";

.PageLoader {
  @include flex-center;
  position: fixed;
  z-index: 10;
  height: 100%;
  height: 100dvh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
