@import "../../styles/mixins.scss";

.JobApplicationFormPopup {
  min-width: 70rem;
  &_title {
    @include heading1;
    margin-bottom: 1rem;
  }

  &_form {
    display: flex;
    flex-direction: column;
    // gap: 1.6rem;
  }

  &_dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    font-weight: normal !important;
    font-size: 1.4rem !important;
  }

  &_dropdown_label {
    @include para2;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &_dropdown_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1.6rem;
  }

  &_salary_input_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.6rem;
  }

  &_bottom_btn_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
    margin-top: 1.6rem;
  }

  &_error_text {
    @include para2;
    color: red;
    margin-top: 0.6rem;
  }

  &_input_field {
    margin-top: 1.6rem;
  }
}
