@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.DashboardPage {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 1.6rem;
  padding-bottom: 3rem;

  &_count_info_card_wrapper {
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    margin-top: 3rem;
    width: 100%;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;

    &_left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &_title {
      @include heading1;
      font-size: 3rem;
    }

    &_description {
      @include para1;
    }
  }

  &_search_bar {
    &_container {
      padding: 2rem 2rem;
      border-radius: 0.8rem;
      // box-shadow: 0 -2px 15px -3px rgba(0, 0, 0, 0.1),
      //   0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      box-shadow: 0 5px 15px -3px rgb(0 0 0 / 0.1);

      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    &_input_box {
      background-color: transparent;
    }

    &_input_box_wrapper {
      background-color: $light-grey;
      border-color: $light-grey !important;
    }
  }

  &_dropdown_filter {
    &_start_icon {
      font-size: 1.8rem;
      margin-right: 1.2rem;
    }
    &_end_icon {
      font-size: 1.8rem;
      margin-left: 0.8rem;
    }

    &_btn {
      background-color: $light-grey !important;
      padding: 1rem 1.6rem !important;
      border: none !important;
    }
  }

  &_application_cards_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 3rem;
  }
}
