@import "../../styles/mixins.scss";

.AuthPopup {
  &_title {
    @include heading1;
    font-weight: 600;
    margin-bottom: 1.6rem;
    text-align: center;
  }

  &_form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &_submit_btn {
    width: 100%;
    height: 4.1rem;
  }
}
