// Colors
$primary-color: #1f2021;
$primary-btn-color: #1f2021;
$secondary-btn-color: #ffffff;
$border-color-light: #e2e8f0;
$text-color-light: #64798b;
$light-grey: #f4f4f4;

$success_color: #07bc0c;
$error_color: #e74d3c;
$warning_color: #f1c40f;
$info_color: #3498db;

// Fonts
// $primary-font: Inter,system-ui,sans-serif;
// $primary-font: sans-serif;
$primary-font: var(--font-inter);

// values
$content-max-width: 140rem;