@import "../../../styles/mixins.scss";

.AdminNavBar {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1.2rem;

  @include dark-mode {
    border-bottom-color: #505050;
  }

  &_text {
    @include para2;
    font-size: 2rem;
    font-weight: bold;
  }
}
