@import "../../../styles/mixins.scss";

.AdminPage {
  padding: 2rem;
  overflow-y: auto;
  &_title {
    @include heading1;
  }

  &_description {
    @include para1;
    margin-top: 1.2rem;
  }

  &_card_wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
  }

  &_cart_wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
  }

  &_application_status_card {
    flex: 1;
    margin-top: 2rem;
    &_content {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
