@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.StatusTag {
  @include para2;
  font-weight: 600;
  padding: 0.3rem 1rem;
  width: fit-content;
  border-radius: 1.2rem;
  white-space: nowrap;

  @include dark-mode {
    color: black;
    font-weight: normal;
  }

  &_applied {
    color: #1e40af;
    background-color: #dbeafe;

    @include dark-mode {
      // color: #7aadff;
      // background-color: rgba(30, 64, 175, 0.3);
      // border: 1px solid rgba(30, 64, 175, 1);
      // background-color: rgba(60, 131, 246, 0.1);
      // border-color: rgba(60, 131, 246, 0.5);
    }
  }

  &_interview_scheduled {
    color: #854d0e;
    background-color: #fef9c3;
  }

  &_interviewing {
    color: #854d0e;
    background-color: #fef9c3;
  }

  &_selected {
    color: #166534;
    background-color: #dcfce7;
  }

  &_rejected {
    color: #991b1b;
    background-color: #fee2e2;
  }

  &_grey {
    background-color: $light-grey;
  }

  &_black {
    color: white;
    background-color: black;
    @include dark-mode {
      color: white;
    }
  }

  &_default {
    border: 1px solid rgb(222, 222, 222);
    @include dark-mode {
      color: white;
    }
  }
}
