@import "../../styles/mixins.scss";

.FeatureInfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  max-width: 32rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 2.4rem;
  min-height: 100%;

  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out 0.1s;
  }

  &_icon_wrapper {
    min-height: 5rem;
    min-width: 5rem;
    background-color: $light-grey;
    width: fit-content;
    border-radius: 0.8rem;
    @include flex-center;
  }

  &_icon {
    font-size: 3rem;
  }

  &_title {
    @include para2;
    font-size: 2rem;
    font-weight: 600;
  }

  &_description {
    @include para1;
    margin: 1rem 0;
    line-height: 2.4rem;
    text-align: center;
  }
}
