@import "../../styles/mixins.scss";

.ApplicationDetails {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &_title {
    @include heading1;
    font-size: 2rem;
  }

  &_notes {
    @include para2;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 0.6rem;
    padding: 1.2rem 1.2rem;
    margin-top: 0.2rem;
  }

  &_label_text {
    @include para1;
  }

  &_details_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
  }

  &_detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &_text {
      @include para2;
      font-size: 1.4rem;
    }
  }
}
