@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.UploadNewResume {
  border: 2px dashed rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 2rem;

  &_title_wrapper {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.6rem;
  }

  &_title {
    @include heading1;
    font-size: 2rem;
    font-weight: 600;
  }

  &_resume_file_input {
    &_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1.6rem;
    }

    &_wrapper {
      border: 2px dashed rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      align-items: center;
      padding: 4rem 0;
    }

    &_label {
      @include para2;
      font-size: 1.4rem;
      font-weight: 500;
    }

    &_icon {
      font-size: 2.6rem;
      color: $text-color-light;
    }

    &_text1 {
      @include para1;
    }

    &_text2 {
      @include para1;
      font-size: 1.4rem;
    }

    &_name_wrapper {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }

    &_file_icon {
      font-size: 2rem;
      color: green;
    }

    &_file_name {
      @include para1;
      color: green;
    }

    &_select_file_btn_text {
      font-weight: 500;
    }

    &_upload_btn {
      align-self: flex-end;
      margin-top: 0.6rem;
      width: 15rem;
    }

    &_upload_btn_loader {
      @include para1;
      color: white;
    }
  }
}
