@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.SimpleApplicationInfoCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 1.6rem;

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out 0.1s;
  }

  &_document_icon {
    &_wrapper {
      background-color: $light-grey;
      width: fit-content;
      border-radius: 0.8rem;
      min-height: 4rem;
      min-width: 4rem;
      @include flex-center;
    }
    font-size: 2.2rem;
  }

  &_detail_wtapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
  }

  &_text1 {
    @include para2;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &_text2 {
    @include para1;
    font-size: 1.4rem;
  }
}
